@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MH Embroidery</h1>
    <p class="lead">Creating bespoke personalised designs for you!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<section class="row-fluid">
    <table class="hpTbl_half">
        <tbody>
            <tr>
                <td style="width:486px;">
                    <img src="~/Images/Embroidery/embroidery2.jpeg" style="align-content:center; height: 290px; width: 440px; border-radius: 25px;" />
                </td>
                <td class="hpAction-half">
                    <h2>Embroidery Designs</h2>
                    <p>
                        With our creative marketing and web design services,<br />
                        we help your business stand out in the saturated digital world.
                    </p>
                </td>
            </tr>
            <tr>
                <td class="hpAction-half">
                    <h2>Vinyl Designs</h2>
                    <p>
                        With our creative marketing and web design services,<br />
                        we help your business stand out in the saturated digital world.
                    </p>
                </td>
                <td style="width:486px;">
                    <img src="~/Images/Vinyl/vinyl2.jpeg" style="align-content:center; height: 290px; width: 440px; border-radius: 25px;">
                </td>

            </tr>
        </tbody>
    </table>
<hr />
<section>
    <table class="hpTbl_triple" style="margin-top:0px;">
        <tbody>
            <tr class="hpTbl_triple_hdr">
                <td>
                    <h2>Create your design <br />today </h2>
                </td>
                <td>
                    <h2> See our work </h2>
                </td>
                <td>
                    <h2>Sesonal Orders</h2>
                </td>
            </tr>
            <tr class="hpTbl_triple_hdr">
                <td>
                    <img src="~/Images/logo.jpg" style="height: 314px; width: 314px; padding: 5px;" alt="logo" />
                </td>
                <td>
                    <img src="~/Images/Vinyl/vinyl5.jpeg" style="height: 314px; width: 314px; padding: 5px;" alt="vinyl" />
                </td>
                <td>
                    <img src="~/Images/Embroidery/christmas1.jpeg" style="height: 314px; width: 314px; padding: 5px;" alt="embriodery" />
                </td>
            </tr>
        </tbody>
    </table>
</section>









